.improved-toggle-container label {
  margin-right: 1em;
}
.improved-toggle-container [role="switch"] {
  padding: 1px;
  border: 0;
  border-radius: 1em;
  background-color: #757580;
  line-height: 1.2;
}

.improved-toggle-container [role="switch"][aria-checked="true"] {
  background-color: #0a0;
}

.improved-toggle-container [role="switch"] span {
  color: #fff;
  padding: 1px;
  pointer-events: none;
  border-radius: 50%;
}

.improved-toggle-container [role="switch"][aria-checked="false"] :last-child {
  padding-left: 2px;
}

.improved-toggle-container [role="switch"][aria-checked="true"] :last-child,
.improved-toggle-container [role="switch"][aria-checked="false"] :first-child {
  background: #fff;
}
